
/* =========================
   MAIN CONTENT
========================= */


:root {
  --bg-main: #ffffff;
  --panel: #ffffff;
  --text-main: #111;
  --text-light: #666;

  --primary-dark: #1a1a1a;
  --primary-mid: #2a2a2a;

  --orange-main: #ff8a00;

  --grey-border: #e6e6e6;
  --shadow: rgba(0,0,0,0.08);
}

body.dark {
  --bg-main: #0d0f12;
  --panel: #14161a;
  --text-main: #eaeaea;
  --text-light: #9aa4b2;

  --grey-border: #222831;
  --shadow: rgba(0,0,0,0.5);
}

.app-shell {
  display: flex;
  background: var(--bg-main);
  display: flex;
  width: 100%;
  margin-left: 90px;
  height: 100vh;
}

/* RIGHT SIDE WRAPPER */
.app-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* REMOVE ANY EXTRA SPACING BUGS */
* {
  box-sizing: border-box;
}