/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* TYPOGRAPHY */
h1, h2 {
  font-weight: 500;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
}

p {
  margin: 0;
}

/* REMOVE ALL WIDTH CONSTRAINTS */
#root {
  max-width: 100%;
}